.LandingPage {
  position: relative;
  height: 100%;
}

.LandingPage .Background {
  filter: blur(6px);
}

.LandingPage .HomeContent {
  position: absolute;
  top: 0;
  display: inline-flexbox;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.LandingPage .HomeContent .UserName,
.LandingPage .HomeContent .HomeMenu {
  z-index: 20;
  cursor: pointer;
  position: fixed;
}

.LandingPage .HomeContent .UserName {
  top: 3%;
  left: 2%;
}

.LandingPage .HomeContent .HomeMenu {
  top: 3%;
  right: 1%;
}

.LandingPage .HomeContent .UserName {
  font-family: "Libre Baskerville", serif;
}

.LandingPage .HomeContent .GridContainer,
.pushable .pusher {
  height: 100%;
}

.LandingPage .HomeContent .MainContent {
  margin: auto;
  padding-bottom: 70px;
  width: 6em;
  font-size: 90px;
  line-height: 1.2em;
  font-family: "Libre Baskerville", serif;
}

.MainContent p {
  margin-top: 15px;
  font-size: 20px;
}

.HomeContent .DownButton {
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.HomeContent .DownButton:hover,
.HomeContent .DownButton:visited {
  background-color: #e0e1e2;
  color: black;
}
