.Menu,
.MenuReverse {
  background-color: #4570e0;
  opacity: 0.97;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.Menu {
  height: 100%;
  animation: 1s cubic-bezier(0.86, 0, 0.07, 1) 0s 1 slideInFromTop;
}

.MenuReverse {
  height: 0%;
  animation: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 slideOutFromBottom;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutFromBottom {
  0% {
    height: 100%;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.Menu .MenuList {
  top: 50%;
  width: 100%;
  position: absolute;
  font-size: 350%;
  font-weight: bolder;
  transform: translateY(-50%);
  font-family: "Libre Baskerville", serif;
}

.Menu .MenuList .MenuItem {
  text-align: center;
  color: white !important;
  opacity: 0.6;
  font-weight: bolder;
}

.Menu .MenuList .MenuItem.Active {
  opacity: 1;
}

.MenuReverse .MenuList {
  visibility: hidden;
}

.Menu .BottomLinks,
.MenuReverse .BottomLinks {
  display: inline-flex;
  bottom: 1%;
  right: 5%;
  position: fixed;
  color: white !important;
}

@media only screen and (max-width: 820px) {
  .Menu,
  .MenuReverse {
    background-color: #4570e0;
    opacity: 0.97;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
  }

  .Menu {
    height: 100%;
    animation: 1s cubic-bezier(0.86, 0, 0.07, 1) 0s 1 slideInFromTop;
  }

  .MenuReverse {
    height: 0%;
    animation: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 slideOutFromBottom;
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideOutFromBottom {
    0% {
      height: 100%;
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .Menu .MenuList {
    top: 50%;
    width: 100%;
    position: absolute;
    font-size: 250%;
    font-weight: bolder;
    transform: translateY(-35%);
    font-family: "Libre Baskerville", serif;
  }

  .Menu .MenuList .MenuItem {
    text-align: center;
    color: white !important;
    opacity: 0.6;
    font-weight: bolder;
  }

  .Menu .MenuList .MenuItem.Active {
    opacity: 1;
  }

  .MenuReverse .MenuList {
    visibility: hidden;
  }

  .Menu .BottomLinks,
  .MenuReverse .BottomLinks {
    display: inline-flex;
    bottom: 1%;
    right: 5%;
    position: fixed;
    color: white !important;
  }
}
